<div class="grid grid-cols-2 md:grid-cols-3 gap-6 text-gray-600">
    <!-- Product Item -->
    <div class=" product-card group">
        <div class="relative">
            <a href="#" class="">
                <img class="img-product" src="${product.image}" alt="${product.name}" />
            </a>
            <a href="#" class="img-product-hover group-hover:bg-opacity-50">
            </a>
            <div class="product-card-btn-wrapper">
                <div class="flex justify-center items-center w-full sm:flex-nowrap flex-wrap space-y-1">
                    <button class="product-add-btn">
                        <i class="fas fa-shopping-cart me-[5px]"></i>
                        <span data-i18n="outstanding_products.add_to_cart"></span>
                    </button>
                    <button class="product-detail-btn">
                        <i class="fas fa-search text-[20px] text-gray-500"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="product-card-info">
            <h3>
                <a href="#"><span>${product.name}</span></a>
            </h3>
            <div class="flex items-center my-2">
                ${generateStars(product.rating)}
            </div>
            <div class="product-card-price">
                <span class="discount-price">${product.price}₫</span>
                <span class="line-through-price">${product.price}₫</span>
            </div>
        </div>
    </div>

    <!-- Another Product Item -->
    <div class=" product-card group">
        <div class="relative">
            <a href="#" class="">
                <img class="img-product" src="../../assets/images/spx2-12.png" alt="product-1" />
            </a>
            <a href="#" class="img-product-hover group-hover:bg-opacity-50">
            </a>
            <div class="product-card-btn-wrapper">
                <div class="flex justify-center items-center w-full sm:flex-nowrap flex-wrap space-y-1">
                    <button class="product-add-btn">
                        <i class="fas fa-shopping-cart me-[5px]"></i>
                        <span data-i18n="outstanding_products.add_to_cart"></span>
                    </button>
                    <button class="product-detail-btn">
                        <i class="fas fa-search text-[20px] text-gray-500"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="product-card-info">
            <h3>
                <a href="#"><span>Cây danh dự</span></a>
            </h3>
            <div class="flex items-center my-2">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star_m.svg" class="w-4 h-4 me-1" alt="star">
            </div>
            <div class="product-card-price">
                <span class="discount-price">250.000₫</span>
                <span class="line-through-price">250.000₫</span>
            </div>
        </div>
    </div>

    <!-- Another Product Item -->
    <div class=" product-card group">
        <div class="relative">
            <a href="#" class="">
                <img class="img-product"
                    src="../../assets/images/spx2-11-a7d358a8-abcb-4e8d-854f-513694c8f97b.webp"
                    alt="product-1" />
            </a>
            <a href="#" class="img-product-hover group-hover:bg-opacity-50">
            </a>
            <div class="product-card-btn-wrapper">
                <div class="flex justify-center items-center w-full sm:flex-nowrap flex-wrap space-y-1">
                    <button class="product-add-btn">
                        <i class="fas fa-shopping-cart me-[5px]"></i>
                        <span data-i18n="outstanding_products.add_to_cart"></span>
                    </button>
                    <button class="product-detail-btn">
                        <i class="fas fa-search text-[20px] text-gray-500"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="product-card-info">
            <h3>
                <a href="#"><span>Cây chân chim</span></a>
            </h3>
            <div class="flex items-center my-2">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star_m.svg" class="w-4 h-4 me-1" alt="star">
            </div>
            <div class="product-card-price">
                <span class="discount-price">250.000₫</span>
                <span class="line-through-price">250.000₫</span>
            </div>
        </div>
    </div>

    <!-- Add more products here in similar format -->
    <div class=" product-card group">
        <div class="relative">
            <a href="#" class="">
                <img class="img-product" src="../../assets/images/spx2-2.png" alt="product-1" />
            </a>
            <a href="#" class="img-product-hover group-hover:bg-opacity-50">
            </a>
            <div class="product-card-btn-wrapper">
                <div class="flex justify-center items-center w-full sm:flex-nowrap flex-wrap space-y-1">
                    <button class="product-add-btn">
                        <i class="fas fa-shopping-cart me-[5px]"></i>
                        <span data-i18n="outstanding_products.add_to_cart"></span>
                    </button>
                    <button class="product-detail-btn">
                        <i class="fas fa-search text-[20px] text-gray-500"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="product-card-info">
            <h3>
                <a href="#"><span>Cây cọ ta</span></a>
            </h3>
            <div class="flex items-center  my-2">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star_m.svg" class="w-4 h-4 me-1" alt="star">
            </div>
            <div class="product-card-price">
                <span class="discount-price">250.000₫</span>
                <span class="line-through-price">250.000₫</span>
            </div>
        </div>
    </div>

    <div class=" product-card group">
        <div class="relative">
            <a href="#" class="">
                <img class="img-product" src="../../assets/images/spx2-8.webp" alt="product-1" />
            </a>
            <a href="#" class="img-product-hover group-hover:bg-opacity-50">
            </a>
            <div class="product-card-btn-wrapper">
                <div class="flex justify-center items-center w-full sm:flex-nowrap flex-wrap space-y-1">
                    <button class="product-add-btn">
                        <i class="fas fa-shopping-cart me-[5px]"></i>
                        <span data-i18n="outstanding_products.add_to_cart"></span>
                    </button>
                    <button class="product-detail-btn">
                        <i class="fas fa-search text-[20px] text-gray-500"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="product-card-info">
            <h3>
                <a href="#"><span>Cây dứa nhỏ</span></a>
            </h3>
            <div class="flex items-center  my-2">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star_m.svg" class="w-4 h-4 me-1" alt="star">
            </div>
            <div class="product-card-price">
                <span class="discount-price">250.000₫</span>
                <span class="line-through-price">250.000₫</span>
            </div>
        </div>
    </div>

    <div class=" product-card group">
        <div class="relative">
            <a href="#" class="">
                <img class="img-product" src="../../assets/images/spx2-1.png" alt="product-1" />
            </a>
            <a href="#" class="img-product-hover group-hover:bg-opacity-50">
            </a>
            <div class="product-card-btn-wrapper">
                <div class="flex justify-center items-center w-full sm:flex-nowrap flex-wrap space-y-1">
                    <button class="product-add-btn">
                        <i class="fas fa-shopping-cart me-[5px]"></i>
                        <span data-i18n="outstanding_products.add_to_cart"></span>
                    </button>
                    <button class="product-detail-btn">
                        <i class="fas fa-search text-[20px] text-gray-500"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="product-card-info">
            <h3>
                <a href="#"><span>Cây đa búp đỏ</span></a>
            </h3>
            <div class="flex items-center  my-2">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star_m.svg" class="w-4 h-4 me-1" alt="star">
            </div>
            <div class="product-card-price">
                <span class="discount-price">250.000₫</span>
                <span class="line-through-price">250.000₫</span>
            </div>
        </div>
    </div>

    <div class=" product-card group">
        <div class="relative">
            <a href="#" class="">
                <img class="img-product" src="../../assets/images/spx2-15.png" alt="product-1" />
            </a>
            <a href="#" class="img-product-hover group-hover:bg-opacity-50">
            </a>
            <div class="product-card-btn-wrapper">
                <div class="flex justify-center items-center w-full sm:flex-nowrap flex-wrap space-y-1">
                    <button class="product-add-btn">
                        <i class="fas fa-shopping-cart me-[5px]"></i>
                        <span data-i18n="outstanding_products.add_to_cart"></span>
                    </button>
                    <button class="product-detail-btn">
                        <i class="fas fa-search text-[20px] text-gray-500"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="product-card-info">
            <h3>
                <a href="#"><span>Cây dạ lam</span></a>
            </h3>
            <div class="flex items-center  my-2">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star_m.svg" class="w-4 h-4 me-1" alt="star">
            </div>
            <div class="product-card-price">
                <span class="discount-price">250.000₫</span>
                <span class="line-through-price">250.000₫</span>
            </div>
        </div>
    </div>

    <div class=" product-card group">
        <div class="relative">
            <a href="#" class="">
                <img class="img-product" src="../../assets/images/spx2-12.png" alt="product-1" />
            </a>
            <a href="#" class="img-product-hover group-hover:bg-opacity-50">
            </a>
            <div class="product-card-btn-wrapper">
                <div class="flex justify-center items-center w-full sm:flex-nowrap flex-wrap space-y-1">
                    <button class="product-add-btn">
                        <i class="fas fa-shopping-cart me-[5px]"></i>
                        <span data-i18n="outstanding_products.add_to_cart"></span>
                    </button>
                    <button class="product-detail-btn">
                        <i class="fas fa-search text-[20px] text-gray-500"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="product-card-info">
            <h3>
                <a href="#"><span>Cây danh dự</span></a>
            </h3>
            <div class="flex items-center my-2">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star_m.svg" class="w-4 h-4 me-1" alt="star">
            </div>
            <div class="product-card-price">
                <span class="discount-price">250.000₫</span>
                <span class="line-through-price">250.000₫</span>
            </div>
        </div>
    </div>

    <div class=" product-card group">
        <div class="relative">
            <a href="#" class="">
                <img class="img-product"
                    src="../../assets/images/spx2-11-a7d358a8-abcb-4e8d-854f-513694c8f97b.webp"
                    alt="product-1" />
            </a>
            <a href="#" class="img-product-hover group-hover:bg-opacity-50">
            </a>
            <div class="product-card-btn-wrapper">
                <div class="flex justify-center items-center w-full sm:flex-nowrap flex-wrap space-y-1">
                    <button class="product-add-btn">
                        <i class="fas fa-shopping-cart me-[5px]"></i>
                        <span data-i18n="outstanding_products.add_to_cart"></span>
                    </button>
                    <button class="product-detail-btn">
                        <i class="fas fa-search text-[20px] text-gray-500"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="product-card-info">
            <h3>
                <a href="#"><span>Cây chân chim</span></a>
            </h3>
            <div class="flex items-center my-2">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star_m.svg" class="w-4 h-4 me-1" alt="star">
            </div>
            <div class="product-card-price">
                <span class="discount-price">250.000₫</span>
                <span class="line-through-price">250.000₫</span>
            </div>
        </div>
    </div>

    <div class=" product-card group">
        <div class="relative">
            <a href="#" class="">
                <img class="img-product" src="../../assets/images/spx2-2.png" alt="product-1" />
            </a>
            <a href="#" class="img-product-hover group-hover:bg-opacity-50">
            </a>
            <div class="product-card-btn-wrapper">
                <div class="flex justify-center items-center w-full sm:flex-nowrap flex-wrap space-y-1">
                    <button class="product-add-btn">
                        <i class="fas fa-shopping-cart me-[5px]"></i>
                        <span data-i18n="outstanding_products.add_to_cart"></span>
                    </button>
                    <button class="product-detail-btn">
                        <i class="fas fa-search text-[20px] text-gray-500"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="product-card-info">
            <h3>
                <a href="#"><span>Cây cọ ta</span></a>
            </h3>
            <div class="flex items-center  my-2">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star_m.svg" class="w-4 h-4 me-1" alt="star">
            </div>
            <div class="product-card-price">
                <span class="discount-price">250.000₫</span>
                <span class="line-through-price">250.000₫</span>
            </div>
        </div>
    </div>

    <div class=" product-card group">
        <div class="relative">
            <a href="#" class="">
                <img class="img-product" src="../../assets/images/spx2-8.webp" alt="product-1" />
            </a>
            <a href="#" class="img-product-hover group-hover:bg-opacity-50">
            </a>
            <div class="product-card-btn-wrapper">
                <div class="flex justify-center items-center w-full sm:flex-nowrap flex-wrap space-y-1">
                    <button class="product-add-btn">
                        <i class="fas fa-shopping-cart me-[5px]"></i>
                        <span data-i18n="outstanding_products.add_to_cart"></span>
                    </button>
                    <button class="product-detail-btn">
                        <i class="fas fa-search text-[20px] text-gray-500"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="product-card-info">
            <h3>
                <a href="#"><span>Cây dứa nhỏ</span></a>
            </h3>
            <div class="flex items-center  my-2">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star_m.svg" class="w-4 h-4 me-1" alt="star">
            </div>
            <div class="product-card-price">
                <span class="discount-price">250.000₫</span>
                <span class="line-through-price">250.000₫</span>
            </div>
        </div>
    </div>

    <div class=" product-card group">
        <div class="relative">
            <a href="#" class="">
                <img class="img-product" src="../../assets/images/spx2-1.png" alt="product-1" />
            </a>
            <a href="#" class="img-product-hover group-hover:bg-opacity-50">
            </a>
            <div class="product-card-btn-wrapper">
                <div class="flex justify-center items-center w-full sm:flex-nowrap flex-wrap space-y-1">
                    <button class="product-add-btn">
                        <i class="fas fa-shopping-cart me-[5px]"></i>
                        <span data-i18n="outstanding_products.add_to_cart"></span>
                    </button>
                    <button class="product-detail-btn">
                        <i class="fas fa-search text-[20px] text-gray-500"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="product-card-info">
            <h3>
                <a href="#"><span>Cây đa búp đỏ</span></a>
            </h3>
            <div class="flex items-center  my-2">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star.svg" class="w-4 h-4 me-1" alt="star">
                <img src="../../assets/images/star_m.svg" class="w-4 h-4 me-1" alt="star">
            </div>
            <div class="product-card-price">
                <span class="discount-price">250.000₫</span>
                <span class="line-through-price">250.000₫</span>
            </div>
        </div>
    </div>

</div>
