<div id="popup-overlay" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 hidden">
    <div class="bg-gray-100 p-10 shadow-lg max-w-2xl w-full relative">
        <!-- Nút Đóng Popup -->
        <button id="popup-close-btn" class="absolute top-3 right-3 text-gray-600 hover:text-green-500">
            <i class="fas fa-times"></i>
        </button>

        <!-- Nội Dung Popup -->
        <div class=" flex flex-col md:flex-row">
            <!-- Hình ảnh bên trái -->
            <div class="flex-none w-2/5 mr-4">
                <img src="../../assets/images/beside_logo.webp" alt="Flower and Tools" class="w-full">
            </div>

            <!-- Nội dung bên phải -->
            <div class="flex-grow">
                <h2 class="text-xl font-light font-serif text-gray-800 mb-0" data-i18n="popup_title"></h2>
                <p class="text-green-600 font-semibold text-lg mb-5" data-i18n="popup_subtitle"></p>
                <div class="flex">
                    <input type="email" placeholder="" data-placeholder="email_placeholder"
                        class="w-full p-2 border text-sm border-gray-300 mb-4 focus:outline-none focus:border-green-500">
                    <button class="bg-green-500 hover:bg-green-600 text-white w-12 py-2 mb-4">
                        <i class="fas fa-paper-plane"></i>
                    </button>
                </div>
                <p class="text-left font-light text-sm text-black mb-6" data-i18n="popup_description"></p>
                <div class="flex items-center">
                    <input type="checkbox" id="not-show-again" class="mr-2">
                    <label for="not-show-again" class="text-sm text-gray-600" data-i18n="popup_dont_show_again"></label>
                </div>
            </div>
        </div>
    </div>
</div>
